/* CreatePlaylist.css */

.StyledInput{
    width: 100%;
    padding: 0.5rem 0.75rem;
    height: 20px; /* Set a fixed height to match the button */
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.StyledInput:focus{
    background-color: #3c3c3c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.StyledInput::placeholder {
    color: #bbb;
}

.StyledButton{
    background-color: #1db954;
    padding: 0.5rem 0.75rem;
    height: 20px;  /* Set a fixed height to match the input field */
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.StyledButton:hover {
    background-color: #1aa34a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.StyledButton::after {
    content: "Create Party Playlist"; /* Default text */
}


@media (max-width: 768px) {
    .StyledButton::after {
        content: "Create Playlist"; /* Text for smaller screens */
    }
}
