/* Navbar.css */


.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 5vh;
    position: sticky;
    top: 0;
    transition: 0.3s ease-in-out;
}

.NavContainer.nav-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.NavContainer .search__bar {
    background-color: white;
    width: 30%;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.NavContainer .search__bar input {
    border: none;
    height: 2rem;
    width: 100%;
}

.NavContainer .search__bar input:focus {
    outline: none;
}

.NavContainer .user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.NavContainer .user-actions .avatar {
    background-color: black;
    padding: 0.3rem 0.4rem;
    padding-right: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavContainer .user-actions .avatar a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.NavContainer .user-actions .avatar a svg {
    font-size: 1.3rem;
    background-color: #282828;
    padding: 0.2rem;
    border-radius: 1rem;
    color: #c7c5c5;
}

.NavContainer .user-actions .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.NavContainer .user-actions .logout-button svg {
    font-size: 1.5rem;
}

.NavContainer .nav-logo {
    display: none;
}

@media (max-width: 768px) {
    .NavContainer {
        justify-content: space-between;
    }
    
    .NavContainer .nav-logo {
        display: block !important;
        text-align: center;
        margin: 1rem 0;
        width: 20%;
        height: auto;
    }

    .NavContainer .nav-logo img {
        max-inline-size: 80%;
        block-size: auto;
    }

}