/* SContainer.css */

.SContainer {
    background-color: black;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



.SContainer .top__links {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .SContainer .top__links{
        display: flex;
        flex-direction: column;
    }
}

.SContainer .top__links .logo {
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .SContainer .top__links .logo {
        display: none;
    }
}

.SContainer .top__links .logo img {
    max-inline-size: 80%;
    block-size: auto;
}

.SContainer .top__links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .SContainer .top__links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.SContainer .top__links ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.SContainer .top__links ul li:hover {
    color: white;
}

@media (max-width: 768px) {
    .SContainer {
        height: 10%;
    }

    .SContainer .top__links{
        display: flex;
        flex-direction: column;
    }
    
    .SContainer .top__links .logo {
        display: none;
    }
    
    .SContainer .PlContainer {
        display: none;
        height: 1;
    }

    
}